<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<div class="container-fluid">

	<body>
	<h2>
		Wilson, Tim -
		<small class="text-muted">CU Boulder Class of 2023</small>
	</h2>

	<h3> Resume</h3>
	<a class="nav-link" href="..\..\resources/pdf/Tim_Wilson_College_Resume_website.pdf">Link to download</a>



	</body>
</div>


</html>