<%- include('../partials/header') %>
<%- include('../partials/menu') %>
	<div class="container-fluid">

		<body>
		<h2>
			Wilson, Tim -
			<small class="text-muted">CU Boulder class of 2023</small>
		</h2>
		<p> I am a student from California studying Computer Science at CU Boulder because I
			love coding and want to have the freedom to work wherever I want.
			I love mountain biking and hiking, and I would like to find a job that gives me
			the ability to explore my passions when I graduate.
		</p>
		<div id="div1" style="float:right"><img src="..\..\resources/img/seniorphoto2.JPG"
																					  alt="A portrait of me after graduating High School" height="340px" width="240px" class="rounded-circle"></div>

		<div id="div2"><h3> Contact Info</h3> <br>
			<table style="width:60%">
				<tr>
					<td>
			Phone: </td>
					<td>
					(949)528-5361 </td>
				</tr>
				<tr>
					<td>
			Email: </td>
					<td>trwilson0508@yahoo.com</td>
				</tr>
				<tr>
					<td>
			Linkedin: </td>
					<td><a class="nav-link" href="https://www.linkedin.com/in/tim-w-98397a163">https://www.linkedin.com/in/tim-w-98397a163</a>
					</td>
				</tr>
			</table>
		</div>
		<br>
		<h3> Skills</h3>
		<p>
			Primary languages and skills used
		<ul>
			<li>C++</li>
			<li>Object-oriented programming</li>
			<li>Scala</li>
			<li>Functional programming</li>
		</ul>
		Other notable skills and platforms I am familiar with
		<ul>
			<li>PostgreSQL</li>
			<li>MongoDB</li>
			<li>Javascript</li>
			<li>Python</li>
			<li>Html</li>
			<li>Agile</li>
			<li>Scrum</li>
			<li>QTCreator</li>
		</ul>

		</p>
		<br>
		<h3> Interests</h3>
		<br>

		<div class="card-group";style="float:left">
			<div class="card" style="width: 10rem;">
				<img class="card-img-top" src="..\..\resources/img/mtb_website.JPG"
					 alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Mountain Biking</h5>
					<p class="card-text">I love getting out on my bike to exercise and compete.
						I race downhill for the club team at CU and enjoy the opportunity to challenge myself.
					</p>

				</div>
			</div>
			<div class="card" style="width: 10rem;" style="height:10rem;">
				<img class="card-img-top" src="..\..\resources/img/books_website.jpg"
					 alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Reading</h5>
					<p class="card-text">I spend a lot of time reading as well. As a kid I read about ten books a week, and
					I have definitely slowed down, I like to read a mixture of fiction and classics when I have a chance.</p>

				</div>
			</div>
			<div class="card" style="width: 5rem;">
				<img class="card-img-top" src="..\..\resources/img/ps5_website.jpg"
					 alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Video Games</h5>
					<p class="card-text">I also enjoy playing video games in my free time as well. This helped inspire me to
						start my Computer Science major. It has helped me develop skills that I recently began
						using to create games in my free time.
						</p>

				</div>
			</div>
		</div>
		</body>
	</div>


</html>
