<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<div class="container-fluid">

	<body>
	<h2>
		Wilson, Tim -
		<small class="text-muted">CU Boulder Class of 2023</small>
	</h2>
	<h3> Projects</h3>
	<br>
	<a href="https://github.com/bellis2147/CSCI3010-HW5-Ellis-Wilson">BattleShip</a>
	<p>
		A simple battleship game created on QTCreator in c++. Made for a project with a partner, Ben Ellis.
		This game allows two people to alternate turns placing ships, and then attacking the others. Each players
		game board is hidden from their opponent until the turn is changed and the correct player chooses to show
		their board.
	</p>

	<br>
	<a href="https://github.com/tiwi7412/Minigit">Minigit</a>
	<p>
		A mini file share system made for a final project with two parteners, Michael Jones and Taryn Welch. This file system creates new files to store versions and can revert back to previous versions with ease. It is run in terminal so far just in VSCode.
	</p>
	<br>
	<a href="https://mathwhiz-ard.herokuapp.com/">Math Whiz-ard</a>
	<p>
		Math Whiz-ard is a web app that allows users to practice basic math problems.
		Users can choose from an array of problem types, including: addition, subtraction,
		multiplication, division, fractions, algebra, and decimal operations.
		Users will be shown the correct answer if they are wrong and once they are done
		will be shown their score and a short list of problems they got wrong. Written in
		Javascript and uploaded to Heroku.
	</p>
	<br>


	</body>
</div>


</html>
